<div>
  <div *ngFor="let character of characters">
    <div class="image">

    </div>
    <div class="info">
      <img src={{character.avatar}}>

      <div>
        <ul>
         <li> name: {{character.name}}</li>
         <li> level: {{character.level}}</li>
         <li> experiencePoints: {{character.experiencePoints}}</li>
         <li> class: {{character.class}}</li>
         <li> alignment: {{character.alignment}}</li>
         <li> background: {{character.background}}</li>
         <li> strength: {{character.strength}}</li>
         <li> dexterity: {{character.dexterity}}</li>
         <li> constitution: {{character.constitution}}</li>
         <li> intelligence: {{character.intelligence}}</li>
         <li> wisdom: {{character.wisdom}}</li>
         <li> charisma: {{character.charisma}}</li>
        </ul>

    </div>
  </div>
</div>
