<div id="container">
  <button mat-button class="menuButtons" [routerLink]="['home']">Home</button>
  <button mat-button class="menuButtons" [routerLink]="['schedule']">Schedule</button>
  <button mat-button class="menuButtons"  [routerLink]="['dnd']">D&D</button>
</div>

<!-- <button mat-button [matMenuTriggerFor]="game2">Catan</button>
<mat-menu #beforeMenu="matMenu" xPosition="before">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu> -->


<!-- <button mat-button [matMenuTriggerFor]="afterMenu">Warhammer 40k</button>
<mat-menu #afterMenu="matMenu" xPosition="after">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu> -->
