#container{
display:flex;
height:100%;
background:white;
justify-content: flex-start;
  #logo{
    width:8%;
    margin:10px;
  }
  .menuButtons{
    color:rgb(46, 46, 46);
    font-size: 3em;
    margin-left:30px;
    &:hover{
      color:rgb(83, 0, 0);
      background:rgb(231, 230, 230);
    }
  }

}